// Background Colours
// This file contains css for background colours

.bg-white       {background-color: white;}
.bg-light-gray  {background-color: lightgray;}
.bg-dark-gray   {background-color: darkgray;}
.bg-gray        {background-color: gray;}
.bg-black       {background-color: black;}

.bg-dark-1      {background-color: #121212;}
.bg-dark-2      {background-color: #181818;}
.bg-dark-3      {background-color: #282828;}
.bg-dark-4      {background-color: #3c3f41;}

.bg-light-red   {background-color: lightcoral;}
.bg-red         {background-color: red;}
.bg-dark-red    {background-color: darkred;}

.bg-light-green {background-color: lightgreen;}
.bg-green       {background-color: green;}
.bg-dark-green  {background-color: darkgreen;}

.bg-light-blue  {background-color: lightblue;}
.bg-blue        {background-color: blue;}
.bg-dark-blue   {background-color: darkblue;}

.bg-light-yellow  {background-color: lightyellow;}
.bg-yellow        {background-color: yellow;}

.bg-orange        {background-color: orange;}
.bg-dark-orange   {background-color: darkorange;}

.bg-pink          {background-color: pink;}
.bg-light-purple  {background-color: violet;}
.bg-purple        {background-color: purple;}

.bg-slate-blue      {background-color: slateblue;}
.bg-dark-slate-blue {background-color: darkslateblue;}

.bg-cyan        {background-color: cyan;}
.bg-dark-cyan   {background-color: darkcyan;}