// Layout
// This file contains css for the layout grid

.container {
  max-width: 1920px;
  padding: 0 2%;
  margin: 0 auto;
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}

.col-12, .col-10, .col-8, .col-6, .col-4, .col-3, .col-2-5, .col-2, .col-1 {
  float: left;
  padding: 10px;
  box-sizing: border-box;
}

.col-12, .width-12 {
  width: 100%;
}

.col-10, .width-10 {
  width: 83.33%;
}

.col-8, .width-8 {
  width: 66.66%;
}

.col-6, .width-6 {
  width: 50%;
}

.col-4, .width-4 {
  width: 33.33%;
}

.col-3, .width-3 {
  width: 25%;
}

.col-2-5, .width-2-5 {
  width: 20%;
}

.col-2, .width-2 {
  width: 16.66%;
}

.col-1, .width-1 {
  width: 8.33%;
}

