// Lists
// This file contains css for lists

ul {
  li {
    margin: 4px 0;
  }
}

ol {
  li {
    margin: 4px 0;
  }
}

dl {
  dt, dd {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

.numbered-list {
  list-style-type: decimal;
}

.lettered-list {
  list-style-type: lower-alpha;
}

.numeraled-list {
  list-style-type: lower-roman;
}

.group-list {
  list-style: none;
  padding: 0;
  li {
    border: 1px solid lightgray;
    padding: 10px;
    margin: -1px 0 0 0;
    
    &:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      margin: 0;
    }
    
    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}