// Responsive
// This file contains css for responsive layout

// Laptop Large - X Large
@media screen and (max-width: 1440px) {
  .col-xl {
    width: 100%;
  }
}

// Laptop - Large
@media screen and (max-width: 1024px) {
  .col-l {
    width: 100%;
  }
}

// Tablet - Medium
@media screen and (max-width: 768px) {
  .col-m {
    width: 100%;
  }
}

// Phone Large - Small
@media screen and (max-width: 425px) {
  .col-s {
    width: 100%;
  }
}

// Phone - X Small
@media screen and (max-width: 375px) {
  .col-xs {
    width: 100%;
  }
}

// Phone Small
@media screen and (max-width: 320px) {}