// Slideshow
// This file contains css for slideshows

.slideshow {
	padding: 0;
	position: relative;
	.slides {
		padding: 0;
		position: relative;
		img {
			position: absolute;
			left: 0;
			vertical-align: middle;
			&:first-child {
				position: inherit;
			}
		}

		.slide-hidden {
			opacity: 0;
		}

		.slide-visible {
			opacity: 1;
		}

		.slide-fade {
			transition: opacity .3s ease-in-out;
		}
	}

	.controls {
		position: absolute;
		top: 0;
		padding: 0;
		width: 100%;
		height: 100%;

		div {
			width: 10%;
			height: 100%;
			padding: 0;
			font-size: 50px;
			text-align: center;
			font-family: sans-serif;

			span {
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				color: white;

				&:before {
					width: 50px;
					height: 50px;
					background-color: black;
					border-radius: 50%;
					content: "";
					position: absolute;
					z-index: -1;
					top: 3px;
				}
			}
		}

		.previous-slide {
			float: left;

			span {
				&:before {
					left: -8px;
				}
			}
		}
		
		.next-slide {
			float: right;

			span {
				&:before {
					left: -12px;
				}
			}
		}
	}
}