// Tables
// This file contains css for tables

table {
  width: 100%;
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;
  
  tr {
    th, td {
      padding: 5px;
    }
    
    th {
      border-bottom: 2px solid black;
    }
    
    td {
      border-bottom: 1px solid darkgray;
    }
  }
}

.striped-table {
  thead {
    tr {
      color: white;
      background-color: darkslategray;
    }
  }
  
  tbody {
    tr {
      &:nth-child(odd) {
        background-color: #d1d1d1;
      }
      
      &:nth-child(even) {
        background-color: #a1a1a1;
      }
    }
  }
  
  tr {
    th, td {
      border-color: black;
    }
  }
}

.bordered-table {
  border: 2px solid black;
  thead {
    tr {
      border: 2px solid black;
    }
  }
  
  tr {
    th, td {
      border: 1px solid black;
    }
  }
}