// Text
// This file contains css for text

.striked-text {
  text-decoration: line-through;
}

.underlined-text {
  text-decoration: underline;
}

.overlined-text {
  text-decoration: overline;
}

.bold-text {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}

.center-align {
  text-align: center;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}