// Text
// This file contains css for text

.striked {
  text-decoration: line-through;
}

.underlined {
  text-decoration: underline;
}

.overlined {
  text-decoration: overline;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

.right-text {
  text-align: right;
}