// Buttons
// This file contains css for buttons

.btn {
  padding: 5px;
  outline-offset: -2px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 14px;
  
  &:hover {
    background-color: lightgray;
    border-color: gray;
    cursor: pointer;
  }
}

.info-btn {
  background-color: lightblue;
  border-color: blue;
  
  &:hover {
    background-color: deepskyblue;
    border-color: darkblue;
  }
}

.success-btn {
  background-color: lightgreen;
  border-color: green;
  
  &:hover {
    background-color: limegreen;
    border-color: darkgreen;
  }
}

.warning-btn {
  background-color: orange;
  border-color: orangered;
  
  &:hover {
    background-color: darkorange;
    border-color: orangered;
  }
}

.danger-btn {
  background-color: lightcoral;
  border-color: indianred;
  
  &:hover {
    background-color: red;
    border-color: darkred;
  }
}

.small-btn {
  font-size: 10px;
}

.medium-btn {
  font-size: 14px;
}

.large-btn {
  font-size: 18px;
}

.xlarge-btn {
  font-size: 22px;
}

.btn-group-horizontal {
  display: inline-block;
  padding: 10px 0;
  .btn {
    float: left;
    border-radius: 0;
    margin-left: -1px;
    
    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      margin-left: 0;
    }
    
    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    
    &:hover {
      border-color: transparent;
    }
  }
}

.btn-group-vertical {
  display: inline-block;
  padding: 10px 0;
  .btn {
    display: block;
    width: 100%;
    border-radius: 0;
    margin-top: -1px;
    
    &:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      margin-top: 0;
    }
    
    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    
    &:hover {
      border-color: transparent;
    }
  }
}